html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none !important;
  }
}
