.compute {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;

  &__items {
    display: flex;
    font-size: 20px;
    position: relative;

    &__title {
      padding-right: 5px;
      text-align: right;
      width: 160px;
    }

    &__content {
      min-width: 50px;
      padding-left: 5px;
    }
  }

  &__total {
    margin-top: 5px;
    padding-top: 5px;

    &::after {
      border-top: 1px solid #bababa;
      content: '';
      left: 10px;
      position: absolute;
      top: 0;
      width: calc(100% - 20px);
    }
  }
}
