.c-contextmenu {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;

  .contextmenu {
    background-color: #ffffff;
    border: 1px solid $border-color;
    border-radius: 3px;
    box-shadow: 2px 5px 20px #707070;
    position: fixed;
    z-index: 1000;

    &__wrap {
      height: 100%;
      position: fixed;
      width: 100%;
      z-index: 999;
    }
  }

  .menu-item {
    align-items: center;
    display: flex;
    min-width: 80px;
    padding: 5px 10px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #f5f5f5;
    }

    &__icon {
      cursor: pointer;
      font-size: 16px;
      margin-right: 5px;
    }

    &__label {
      cursor: pointer;
    }
  }
}
