.content__collapse {
  padding: 10px;
  position: relative;
  width: 100%;

  &::before {
    border-bottom: 1px solid $border-color;
    bottom: 5px;
    content: '';
    left: 15px;
    position: absolute;
    width: calc(100% - 30px);
  }

  .ivu-collapse-header {
    &:hover {
      .collapse__title {
        color: #444444;
      }
    }

    .ivu-icon {
      margin-right: 5px !important;
      // 微調對齊
      margin-top: -3px !important;
    }

    .collapse__title {
      color: #8a8a8a;
      font-size: 18px;
      font-weight: bold;
      transition: color 0.25s;
    }
  }

  .ivu-collapse {
    border: unset !important;

    .ivu-collapse-content {
      margin-top: 15px;
    }

    .ivu-collapse-header,
    .ivu-collapse-content {
      padding: 0 !important;
    }
  }
}

.form-generate {
  position: relative;

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__items {
    margin-bottom: 15px;
    width: calc(100% / 4);

    &__label {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }

  &__btns {
    display: flex;
    height: 40px;
    justify-content: flex-end;
    width: 100%;

    .ivu-btn {
      font-size: 16px;
      height: 40px;
    }

    .message--alert {
      border: 1px solid #ff9494;
      box-shadow: 0 0 4px #ff7878;
      color: #e70000;
      font-size: 12px;
      height: 20px;
      padding: 0 3px;
    }
  }

  .ivu-upload .ivu-icon {
    font-size: 20px;
  }
}

.info-bar {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: flex-start;
  position: relative;

  &--warning {
    color: rgb(219, 0, 0);
    font-size: 14px;
    position: absolute;
    right: 95px;
    top: 10px;
  }

  &__total-records {
    color: #707070;
    font-size: 14px;
    padding-left: 15px;
    text-align: left;
  }

  &__color-info {
    border-radius: 3px;
    margin: 0 5px;
    padding: 2px 10px;
  }
}
