// Color
$primary-color: #0d8ea8;
$light-color: #4facbf;

// Background
$background-color: rgba(211, 234, 239, 0.35);

// Text
$text-color: #bde0e7;
$text-color-light: #ffffff;

// Border
$border-color: #f0f0f0;

// scrollbar
$scrollbar-thumb-color: #dddddd;
$scrollbar-track-color: #f5f5f5;

// Button
$btn-bg-color: #0d8ea8;
$btn-bg-color-hover: #4facbf;
$btn-bg-color-disable: #f7f7f7;

$btn-txt-color: rgba(255, 255, 255, 0.9);
$btn-txt-color-hover: #ffffff;
$btn-txt-color-disable: #c5c8ce;

$btn-bd-color: #0d8ea8;
$btn-bd-color-disable: #d8d8d8;
// Height
$footer-height: 60px;
